<div class="flex flex-col h-dvh items-center font-serif bg-green-white-2">
  <app-topbar class="w-full"></app-topbar>
  <main
    class="border-12 w-full border-green-white-1 max-w-[80ch] rounded-lg pr-3 m-3 grow flex flex-col gap-3 overflow-y-auto bg-green-white-1"
  >
    @for (text of chatHistory(); track $index) {
      <div class="flex">
        @if ($index % 2 === 0) {
          <div class="bg-green-white-2 p-2 rounded-lg">
            {{ text }}
          </div>
          <div class="flex-1/5"></div>
        } @else {
          <div class="flex-1/5"></div>
          <div class="bg-green-white-2 p-2 rounded-lg">
            {{ text }}
          </div>
        }
      </div>
    }

    @if (chatHistory().length === 0) {
      <div class="size-full grid items-center text-center">Loading...</div>
    }
  </main>
  <div class="flex gap-3 max-w-[80ch] mx-3 w-full">
    <input
      class="bg-sandy-brown outline-0 rounded-lg px-3 grow w-full"
      type="text"
      placeholder="Ask anything!"
      [(ngModel)]="messageInput"
    />
    <app-button text="Send" (atClick)="processAddMessage()"></app-button>
  </div>
  <span class="text-center w-full block p-4 font-serif underline text-sm">
    Summary created by AI. Remember to verify the answers with a lawyer!
  </span>
</div>
