@import 'tailwindcss';

@theme {
  --color-dark-grey-blue: #245161;
  --color-sandy-brown: #c1a572;
  --color-green-white: #eaebe6;
  --color-aubergine: #30011e;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.3s ease-out;
}